* {
  -webkit-touch-callout: none; /*系统默认菜单被禁用*/
  -webkit-user-select: none; /*webkit浏览器*/
  -khtml-user-select: none; /*早期浏览器*/
  -moz-user-select: none; /*火狐*/
  -ms-user-select: none; /*IE10*/
  user-select: none;
}

.demo {
  float: right;
  margin-right: 230px;
  line-height: 40px;
  cursor: pointer;
}
#header {
  width: 1535px;
  height: 42px;
  background-color:white;
  box-shadow: 3px 5px 10px gray;
}
#mask {
  position: absolute;  
  background: rgb(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#login {
  width: 800px;
  height: 445px;
  left: 50%;
  top: 47%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: whitesmoke;
  margin: 0 auto;
}
.demo1 {
  width: 450px;
  height: 300px;
  padding-left: 20px;
  margin-top: 50px;
  float: right;
}
.come {
  width: 350px;
  height: 40px;
  border: none;
}
#demo2 {
  width: 405px;
  margin-top: 50px;
  padding-left: 20px;
  border: 1px solid gainsboro;
  border-radius: 10px;
}
.imglo {
  width: 330px;
  height: 445px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.imgre {
  width: 330px;
  height: 445px;
  float: right;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
#register {
  width: 450px;
  height: 300px;
  padding-right: 20px;
  margin-top: 50px;
  float: left;
}
#demo3 {
  width: 450px;
  height: 300px;
  padding-left: 20px;
  margin-top: 30px;
  float: left;
}
#demo4 {
  width: 405px;
  padding-left: 20px;
  border: 1px solid gainsboro;
  border-radius: 10px;
}
.arepwd {
  width: 350px;
  height: 40px;
  margin-left: 41px;
  border: none;
}
.logo {
  width: 40px;
  float: left;
  margin-left: 120px;
  border-radius: 5px;
}
.logoimg{
  width: 30px;
  position: absolute;
  left: 200px;
  top: 5px;
  border-radius: 5px;
}
.search{
  width: 250px;
  height: 25px;
  
  margin-top: 0px;
  margin-left: 50px;
}
#gosearch{
  position: absolute;
  margin-top: 16px;
  width: 35px;
}
ul{
  display: inline;
}
ul li{
  line-height: 40px;
  margin-left: 100px;
  display: inline;
}
.mine{
  float: right;
  margin-right: 230px;
  line-height: 40px;
  cursor: pointer;
}
.router1{
  float: right;
  line-height: 40px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
#avatar{
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-right: 10px;
  margin-top: 5px;
}
.example-showcase .el-dropdown-link {
  margin-top: 100px;
  cursor: pointer;
  color: var(--el-color-primary);
  display: flex;
  align-items: center;
}